<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="/header"></th:block>
<body>
	<th:block th:include="/menu2"></th:block>
	<div class="container">
		<div class="check">
			<div class="col-md-9 cart-items">
				<h1>View Orders</h1>
				<div class="cart-header" th:each="order : ${orders}">
					<div class="cart-sec simpleCart_shelfItem">
						<div class="cart-item cyc">
							<img th:src="@{'productimages/'+${order.imageName}}" class="img-responsive" alt="" />
						</div>
						<div class="cart-item-info">
							<h3>
								<a href="#" th:text="@{'Name:'+${order.name}}"></a>
							</h3>
							<div class="delivery">
								<p>Service Charges : ₹ 2.00</p>
								<span>Delivered in 2-3 bussiness days</span>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="/footer"></th:block>
	<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"2f92aa4d0e498ee5653534c361ff6addd","popupWidget":true,"automaticChatOpenOnNavigation":false};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
    </script>
</body>
</html>
